.form-container {
    position: absolute;
    top: 0;
    width: 100%;
    min-height: 100%;
    background: linear-gradient(rgb(0, 186, 233) , rgb(0, 162, 162) , rgb(0, 118, 118));
    display: flex;
    justify-content: center;
    align-items: center;
}

.loginForm {
    background-color: white;
    min-height: 400px;
}

.large-icon {
    font-size: 3rem;
    transition: all 0.2s ease-in-out;
}

.large-icon:hover {
    color: teal;
}